.mybg{
  background-color: black;
}

.mybggreen{
  background-color: #C5FF00;
}

p{
  color: #FFFFFF;
  font-family: 'Prompt', sans-serif;
}

.pwhite{
  color: #FFFFFF;
  font-family: 'Prompt', sans-serif;
}

.mygreen{
  color: #C5FF00;
  font-family: 'Prompt', sans-serif;
}

h1{
  text-transform: uppercase;
  color: #C5FF00;
  font-family: 'Dela Gothic One', cursive;
}

h3{
  background-color: #C5FF00;
  color: black;
  font-family: 'Dela Gothic One', cursive;
}

h5{
  color: #C5FF00;
  font-family: 'Prompt', sans-serif;
}